/* =============
    Base
============= */
@use "../helpers";


h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0; 
}

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}


.img-scaler{
    width: 100%;
}

.content-padding{
    padding: 40px 24px;
}