/* =============
    Hero
============= */
@use "../helpers";

#hero{
    background-color: var(--lilyWhite);
    padding: 56px 24px;


    //16px = 1em

    section{

        article{


            p{
                margin-top: 24px;
                margin-bottom: 24px;
            }

            // LOVE HATE  //
            a:link, a:visited{
                // background-color: var(--nightBlue);
                // color: var(--white);
                // font-size: helpers.rem-calc(14);
                // font-weight: 600;
                // padding: 22px 36px;
                // border-radius: 6px;

                // // -- code for week 4
                // display: inline-block;
                // // -- 
                
            }
            a:hover, a:focus{

            }
            button{
                background-color: var(--white);
                border: none;
                height: 60px;
                width: 60px;
                border-radius: 100%;
                margin-left: 30px;
            }
        }

        #hero-card{
            background-color: var(--snowdrop);
            margin-top: 70px;
            padding: 24px 20px;
            border-radius: 12px;

            h5{
                color: var(--nightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(14);
            }

            p{
                font-size: helpers.rem-calc(14);
                font-weight: 600;
                // line-height: helpers.rem-calc(24);
            }
        }
    }

    aside{

    }
}