/* =============
    packages
============= */
@use "../helpers";


#packages {
    background-color: var(--lilyWhite);
    padding: 100px 24px;


    #top-content{
        text-align: center;

        #package-button-container{
            background-color: var(--white);
            margin: 24px 0;
            padding: 8px;
            border-radius: 10px;
            // week 4 code
            display: inline-block;
    
            button{
                border: none;
            }
    
            #left-arrow{
                background-color: var(--white);
                color: var(--grey);
                padding: 13px 18px;
            }
    
            #right-arrow{
                background-color: var(--aqua);
                color: var(--white);
                padding: 13px 18px;
                border-radius: 8px;
            }
        }
    }
    

    #package-card-container{
        .package-card{
            background-color: var(--ghost);
            border: 1px solid var(--white);
            margin-bottom: 48px;
            padding: 16px;
            border-radius: 14px;

            p{
                color: var(--nightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(20);
                line-height: helpers.rem-calc(28);
                margin: 20px 0 16px;
            }

            h4{
                color: var(--grey);
                font-size: helpers.rem-calc(14);
                line-height: helpers.rem-calc(28);
                font-weight: 600;
            }

            h3{
                color: var(--aqua);
                font-weight: 600;
                font-size: helpers.rem-calc(14);
                line-height: helpers.rem-calc(28);
            }
        }

        .selected{
            background-color: var(--white);
        }
    }
}