/* =============
    Buttons
============= */
@use "../helpers";

a{
    text-decoration: none;
}

.nightBlue-link{
    background-color: var(--nightBlue);
    color: var(--white);
    font-size: helpers.rem-calc(14);
    font-weight: 600;
    padding: 22px 36px;
    border-radius: 6px;

    // -- code for week 4
    display: inline-block;
    // -- 
}

.nightBlue-btn{
    background-color: var(--nightBlue);
    color: var(--white);
    font-size: helpers.rem-calc(14);
    font-weight: 600;
    padding: 22px 36px;
    border-radius: 6px;
    border: none;
}